/* @media screen and (max-width: 600px) {
    .top-menu__links li a {
        flex-wrap: nowrap;
        
        font-size: 13px;

    }

    .flex-container {
        flex-wrap: wrap;
    }
} */

@media only screen and (max-width:800px) {
    nav.top-menu {
    display: none;
    }
    .top-menu__links {
    display: none;
    }
    .header-text-pry,
    .header-text-sub {
        font-size: 1.7rem;
    }
    span.header-text-micro {
    display: none;
    }
    h1.top-menu__logo2 a {
    font-size: 3rem;
    margin: 1.5rem;
    padding: 0.8rem 1.5rem;
    background-color: var(--color-secondary);
    display: inline-block
    }
    .mobile-menu {
    display: flex;
    justify-content: space-between;
    }
    .top-menu__link {
    display: block;
    }

    .flex-container {
        display: none;
    }



    /* .top__right {
    display: none;
    }
    section {
    margin: 2rem auto;
    }
    .top {
    height: 40rem;
    }
    .top__left {
    flex: 0 0 70%;
    margin: 1rem;
    }  */


    .about-us {
        display: none;
    }

    .services h2 {
        font-size: 1.3rem;
    }

    .services h3 {
        font-size: 1.7rem;
    }

    .services-text {
        width: 70%;
        font-weight: 500;
    }

    .products {
        width: 70%;
    }

    .features__right {
    display: none;
    }
    .features__left {
    flex: 0 0 80%;
    }
    .features__left h4,
    .features__left h2,
    .features__left h3,
    .features__left p {
    color: #ccc
    }
    .features {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)),
    url(../img/mimi-thian-t1bz9XpJ2-Y-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%
    }

    .care__img {
    display: none;
    }
    .care__article {
        margin-left: 3rem;
    flex: 1 0 80%;
    }
    .five__cards-card {
    padding: 1rem 0.8rem;
    }
    .five__cards {
    width: 100%;
    }
    .about__article-link {
    display: none;
    }
    .about__article {
    flex: 0 0 70%;
    }
    .about__article-1 {
    font-size: 1.3rem;
    word-spacing: 1.5px;
    }
    .features__left2-body-article {
    color: var(--color-text-white);
    font-size: 1.3rem;
    font-weight: 500;
    word-spacing: 1.3px;
    }
    .features__left2-body-title {
    color: var(--color-text-white);
    font-size: 1.5rem;
    text-transform: capitalize;
    }
    .features__left1-body-heading1 {
    color: var(--color-text-white);
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
    }
    .features__left1-body-article {
    color: var(--color-text-white);
    font-size: 1.4rem;
    }
    .features__left1-body-heading2 {
    color: var(--color-text-white);
    font-size: 1.8rem;
    }

    .five {
        margin: 0 5% 0 5%;
    }
    .five__cards-card-date {
    font-size: 1rem;
    }
    .five__cards-card-title {
    font-size: 1.8rem;
    }
    .five__cards-card-sub-title {
    font-size: 1.8rem;
    }
    .five__cards-card-article {
    font-size: 1.1rem;
    line-height: 1.8rem;
    }
    .two__client {
    font-size: 1rem;
    }
    .two__case {
    font-size: 1.8rem;
    }
    .two__subject {
    font-size: 1.4rem;
    }
    .contact__card1-up,
    .contact__card2-up,
    .contact__card1-down,
    .contact__card2-down {
    padding: 2rem;
    font-size: 1rem;
    width: 10rem;
    }
    .fa-user-tie,
    .fa-trophy,
    .fa-seedling,
    .fa-list-alt {
    font-size: 6rem;
    margin-bottom: 0.6rem;
    }

    .six {
        display: none;
    }

    .contact__card3 {
    flex: 0 0 50%;
    }
    .testimonials__title {
    width: 60%
    }
    .testimonials__body-image img {
    /* width: 200px; */
    flex: 0 0 30%;
    }
    .testimonials__body-article {
    flex: 0 0 55%;
    margin-top: 2rem;
    }
    .quotes {
    right: 1rem;
    font-size: 3rem;
    top: 2rem;
    }
    .blog {
    flex-direction: column;
    width: 80%;
    margin-top: 4rem;
    }
    .blog__left-img {
    width: 100%;
    }
    .blog__left {
    margin-bottom: 4rem;
    }
    .footer {
    width: 95%;
    margin: 0 auto
    }
    .footer__card1 {}
    .footer__card4 input {
    padding: 0.7rem;
    font-size: 1.2rem;
    }
    .fa-paper-plane {
    padding: 0.4rem;
    font-size: 1.2rem;
    }
    section.four {
    margin-top: 5rem;
    }
    .case-study,
    .about {
    margin: 4rem auto;
    }
    .copy {
    width: 100%;
    }
    .banner__title {
    font-size: 3.5rem;
    width: 70%;
    margin: 0 auto;
    }
   }