:root {
  --color-primary: #051be5;
  --color-primary-transparent: rgba(5, 27, 229, 0.6);
  --color-text-white: #fef;
  --color-text-grey-1: #4e4c5a;
  --color-text-grey-2: #292c36;
  --color-secondary: #ff6000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  padding: 0px 10px;
  overflow-x: hidden;
}

/* Beginning of the header */
header {
  background-image: 
    url(../assets/heroine.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-width: 100vw;
  position: relative;

} 

.header > .nav-btn {
  display: none;
}
.nav > .nav-links {
  display: inline;
  /* float: right; */
  font-size: 18px;
}
.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}
.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.nav > #nav-check {
  display: none;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 2rem;
  position: sticky;
}

.top-menu__logo {
  font-size: 1.5rem;
  margin: 1.5rem;
  padding: 0.8rem 1.5rem;
  color: var(--color-text-grey-1);
  background-color: var(--color-secondary);

  align-self: stretch;
  box-shadow: var(--color-text-grey-2);
  text-decoration: none;
}


.top-menu__links {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.1rem;
  list-style: none;
  text-transform: uppercase;
  margin-right: 2rem;
  
}

.top-menu__link {
  padding: 1.3rem 1.1rem;
  background-color: var(--color-secondary);
  /* flex-wrap: nowrap; */
}

.top-menu__link:hover {
  background-color: var(--color-primary);
  transition: background .3s linear;
}

li.active {
  background-color: var(--color-primary);
}

.top-menu__icon {
  background-color: var(--color-primary);
  font-size: 1.1rem;
  padding: 1.3rem 1.1rem;
} 

.top-menu__icon:hover {
  background-color: var(--color-secondary);
}

a {
  text-decoration: none;
  color: var(--color-text-white);
}

.text-box {
  
  margin-top:  5rem
  /* top: 80%;dg
  left: 50%;
  transform: translate(-30%, -30%) */

  /* display: flex;
  justify-content: center;
  align-content: center; */
}

.header-text {
  color:var(--color-text-white);
  text-align: center;
  font-weight: 400;
  letter-spacing: 3px;
  
}

.header-text-pry {
  display: block;
  font-size: 2.1rem;
  text-transform: uppercase;
}

.header-text-sub {
  display: block;
  font-size: 2.1rem;
  text-transform: uppercase;
}

.header-text-micro {
  display: block;
  font-size: 1.2rem;
}

.buttons {
  text-align: center;
  margin-top: 23px;
}

.buttons>li:hover {
  background-color:var(--color-text-grey-2);
}

.button-contact {
  background-color:var(--color-secondary);
  border: none;
  color: var(--color-text-white);
  padding: 15px 32px;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.button-service {
  background-color: #051be5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

/* End of header and navbar */

/*  */
.flex-container {
  display: flex;
  justify-content: space-between;
  margin: 2% 0 7% 0;
}

.flex-container > div {
  width: 100px;
  margin: 3px;
  text-align: center;
  line-height: 27.5px;
  font-size: 17px;
  flex: 3;

  height: 27rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.box-2 {
  background-image: linear-gradient(to right bottom,
  rgba(92, 65, 225, 0.4),
  rgba(36, 4, 244, 0.4)),url(../assets/man-woman.jpg);
  background-size: cover;
  max-width: 100%;
  flex: 2;

  display: flex;
  /* justify-content: space-around; */
  /* flex-direction: column; */
  align-items: center;
}

.box-2__arrow {
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
  align-self: flex-end;
  background-color: var(--color-secondary);
  padding: 0.5rem 2rem;
  color: var(--color-text-white);
  font-size: 2rem;
  /* margin-bottom: 1%; */
}

.box-2__article {
  font-size: 1rem;
  margin-top: 6%;
  color: var(--color-text-white);
  padding: 2rem;
  align-self:;
  /* height: 3vh; */
  background-color: var(--color-primary-transparent);
}

.box-2__article h3 {
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}

.box-2__article p {
  margin-bottom: 1.6rem;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  line-height: 1.2rem;
}

.box-3 {
  background-image: url(../assets/hereoy.jpg);
  background-size: cover;
  max-width: 100%;
  flex: 2;
}

.flex-button {
  /* display: flex;
  flex-direction: column; */
  background-color: #051be5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 5px 3px;
  cursor: pointer;
  border-radius: 4px;
  /* justify-content: flex-start; */
  /* align-items: flex-end; */
}

.flex-button:hover {
  background-color: var(--color-text-grey-2);
}

.about-us {
  display: flex;
  justify-content: space-between;
  background: #051be5;
  height: 65vh;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
  position: relative
  /* flex: 1; */
}

.about-us>div {
  width: 100px;
  margin: 10% 5% 10% 2%;
  line-height: 27px;
  font-size: 15px;
  flex: 3;
  height: 77vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* justify-content: space-around; */

}

.about-us>div:not(.about-us__second) {
  background-image: url(../assets/meeting-head.png);
  background-size: cover;
  max-width: 100%;
  flex: 2;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 3px;
}

.about-us__overlay {
  background: rgba(244, 4, 36, 0.9);
  margin-top: 12.5rem;
  margin-right: 2.5rem;
  border-radius: 4px;
  color: #fff;
  text-align: left;
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  justify-content: center;
  align-content: center;
}

.about-us__button {
  background-color: #ff6000;
  border: none;
  color: #fff;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px 3px;
  cursor: pointer;
  border-radius: 4px;
}

.about-us__button:hover {
  background-color: #2b2b2b;
}

.fa-chevron-right{
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 30px;
  padding: 20px 25px;
  background-color: #ff6000;
}

.services {
  margin-top: 5%;
  margin-bottom: 2.5%;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.services-text {
  text-align: center;
  flex-wrap: wrap;
  width: 40%
}

.product-box {
  display: flex;
  /* width:50%; */
  justify-content: center;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width :80%;

  list-style: none;
}

.products>li { 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f4f2f2;
  width: 50vh;
  height: 40vh;
  margin: 5px;
  /* text-align: center; */
  padding :10px;
  line-height: 15px;
  box-shadow: #2b2b2b;
}

.products-link {
  text-decoration: none;
  margin-right: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.products__icon {
  height: 2rem;
  width: 2rem;
  fill: #051be5;
  margin-bottom: 1rem;
}

.products-heading {
  /* margin-left: 1.5rem; */
  font-weight: 700;
  font-size: 1.4rem;
  color: #2b2b2b;
  margin-bottom: 1.5rem;
}

.three {
  width: 100%;
  background-color: #f9f9f9;
}

.features {
  display: flex;
  width: 73%;
  justify-content: center;
  margin-left: auto;
  align-items: center;
}

.features__left {
  margin: 3rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 0 0 40%;
}

.features__left1-body-heading1 {
  color: var(--color-text-grey-1);
  font-size: 1.3rem;
  margin-bottom: 0.6rem;
}

.features__left1-body-heading2 {
  color: var(--color-text-grey-2);
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.features__left1-body-article {
  color: var(--color-text-grey-1);
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.features__left2 {
  display: flex;
}

.features__left2-body {
  padding: 1rem;

  margin: 0.5rem;
}

.features__left2-body-image {
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.features__right {
  display: flex;
  justify-content: center;
  flex: 0 100% 0;
  padding: 25rem;
  background-image: 
    url(../assets/homme-femme.jpg);
  background-size: cover;
  background-position: center;
  flex: 0 0 50%;
  /* width: 12vh */
  /* height: 15vh; */
}


section.four {
  margin-top: 10rem;
}

.care {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  position: relative;
}

.care__img {
  flex: 0 0 50%;
}

.care__article {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  padding-right: 6rem;
}

.care__article-title {
  font-size: 2rem;
  color: var(--color-text-grey-1);
  margin-bottom: 1rem;
}

.care__article-heading {
  font-size: 3rem;
  color: var(--color-text-grey-2);
  margin-bottom: 2.5rem;
}

.care__article-body {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 2rem;
  color: var(--color-text-grey-1);
}

.care__article-links {
  display: flex;
  position: absolute;
  bottom: 0;
}

.care__article-links-link a {
  display: flex;
  padding: 1rem 2rem;
  background-color: var(--color-secondary);
  margin-right: 2rem;
  color: var(--color-text-white);
  border-radius: 4px;
  font-size: 1.5rem;
}

.care__article-image {
  display:flex;
}

.care__article-image img{
  width: 200px;
  margin-right: 10px;
  border-radius: 4px;
}


.fa-google-play,
.fa-apple {
  align-self: center;
  margin-right: 2rem;
  font-size: 4rem;
}

.down {
  text-transform: capitalize;
  font-size: 2rem;
}

.from {
  text-transform: capitalize;
}

#play a {
  background-color: var(--color-primary);
}

.case-study {
  width: 50%;
  margin: 8rem auto;
  text-align: center;
}

.case-study h4 {
  font-size: 2rem;
  color: var (var(--color-text-grey-1));
  margin-bottom: 1rem;
}

.case-study h2 {
  font-size: 3.3rem;
  text-transform: capitalize;
  word-spacing: 0.5rem;
  color: var(--color-text-grey-2);
  margin-bottom: 1.5rem;
}

.case-study p {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-text-grey-1);
  line-height: 2rem;
}

/* SECTION FIVE */

.five__cards {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.five__cards-card {
  flex: 0 0 33.33%;
  padding: 4rem 2rem;
  margin: 1rem;
  background-color: #f9f9f9;
}

.five__cards-card-date {
  font-size: 1.2rem;
  color: var(--color-text-grey-1);
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.five__cards-card-title {
  font-size: 2rem;
  color: var(--color-text-grey-2);
  margin-bottom: 0.5rem;
}

.five__cards-card-sub-title {
  font-size: 2.1rem;
  color: var(--color-text-grey-2);
  margin-bottom: 1.5rem;
}

.five__cards-card-article {
  font-size: 1.3rem;
  color: var(--color-text-grey-1);
  margin-bottom: 1.5rem;
  line-height: 2rem;
}

.five__cards-card-image {
  font-size: 1.3rem;
}

.second {
  background-image: linear-gradient(rgba(5, 27, 229, 0.763),
      rgba(5, 27, 229, 0.763)),
    url(../assets/meeting-head.png);
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text-white);
  font-weight: 600;
}

.two__client {
  font-size: 1.2rem;
}

.two__case {
  font-size: 2rem;
}

.two__subject {
  font-size: 1.6rem;
}

.two__link {
  background-color: var(--color-secondary);
  padding: 1.2rem 2.5rem;
  margin: 0.5rem;
  border-radius: 4px;
  font-size: 1.2rem;
}

.two__client,
.two__case,
.two__subject {
  margin-bottom: 0.7rem;
}

/* SECTION CONTACT */

.six {
  width: 100%;
  background-image: linear-gradient(rgba(5, 27, 229, 0.763),
      rgba(5, 27, 229, 0.763)),
    url(../img/patrick-tomasso-gMes5dNykus-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.contact {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: stretch;
  padding-left: 5rem;
  height: 42rem;
}

.contact__card1,
.contact__card2 {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contact__card1-up,
.contact__card2-up,
.contact__card1-down,
.contact__card2-down {
  padding: 2rem;
  color: var(--color-text-white);
  font-size: 1rem;
  background-color: #051be5d2;
  text-align: center;
  width: 10rem;
}

.orange {
  background-color: var(--color-secondary);
}

.fa-user-tie,
.fa-trophy,
.fa-seedling {
  font-size: 4rem;
  margin-bottom: 0.7rem;
}

#numbers {
  font-size: 1.8rem;
}

.contact__card3 {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: #051be5d2;
  color: white;
}

.contact__card3 h4 {
  background-color: var(--color-secondary);
  width: 80%;
  font-size: 2rem;
  text-transform: capitalize;
  padding: 1rem 2rem;
  margin: 2rem 0 3rem;
}

.contact__card3 input{
  background-color: #4c4c5271;
  margin: 0 1.5rem 1.5rem;
  font-size: 1.5rem;
  color: rgba(255, 238, 255, 0.39);
  padding: 0.8rem 0.8rem;
  border: none;
}

.contact__card3 a {
  background-color: var(--color-secondary);
  margin: 2rem 1.5rem 1.5rem;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}

/* SECTION TESTIMONIALS */

.testimonials__title {
  width: 30%;
  margin: 0 auto 4rem;
  text-align: center;
}

.testimonials__title h4 {
  color: var(--color-text-grey-1);
  font-size: 1.8rem;
  margin-bottom: 0.2rem;
}

.testimonials__title h2 {
  color: var(--color-text-grey-2);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.testimonials__title p {
  color: var(--color-text-grey-1);
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.testimonials__body {
  display: flex;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.testimonials__body-article {
  margin: 6rem 10rem 6rem 6rem;
}

.quotes {
  position: absolute;
  top: 5rem;
  right: 2rem;
  font-size: 6rem;
  color: var(--color-secondary);
}

.testimonials__body-article h4 {
  font-size: 2rem;
  color: var(--color-primary);
  word-spacing: 1px;
}

.testimonials__body-article hr {
  border: 1px solid rgb(211, 205, 205);
  margin: 1rem 0;
}

.testimonials__body-article p {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: var(--color-text-grey-1);
  margin-bottom: 2rem;
}

.testimonials__body-article h6 {
  font-size: 1.4rem;
  text-transform: capitalize;
  color: var(--color-text-grey-1);
  margin-bottom: 2rem;
}

.name {
  color: var(--color-text-grey-1);
  font-size: 1.5rem;
  display: inline-block;
}

.testimonials__body-article a {
  background-color: var(--color-primary);
  font-size: 2rem;
  padding: 0.6rem 1.2rem;
}

a.sec {
  background-color: var(--color-secondary);
}

/* SECTION SEVEN-BLOG  */

.seven {
  width: 50%;
  margin: 4rem auto;
  text-align: center;
}

.seven h5 {
  color: var(--color-text-grey-1);
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.seven h3 {
  text-transform: capitalize;
  color: var(--color-text-grey-2);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.seven p {
  color: var(--color-text-grey-1);
  font-size: 1.1rem;
  line-height: 1.5rem;
}

/* SECTION BLOG */

.blog {
  display: flex;
  width: 90%;
  margin-top: 4rem;
}

.blog__left {
  flex: 0 0 50%;
  padding-right: 1.5rem;
}

.blog__left-date {
  font-size: 1.2rem;
  margin: 1rem 0;
  color: var(--color-text-grey-1);
}
.blog__left-img {
  width: 100%
}

.blog__left-title {
  color: var(--color-secondary);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.blog__left-article {
  font-size: 1.5rem;
  color: var(--color-text-grey-1);
}

.blog__left-link {
  background-color: var(--color-secondary);
  margin: 1.2rem 0;
  display: inline-block;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 4px;
}

.blog__right-card {
  padding: 2rem;
  background-color: #f9f9f9;
  margin-bottom: 1.8rem;
  margin-left: 0.8rem;
  color: #051be5;
}

.blog__right-date {
  font-size: 1rem;
  margin: 1rem 0;
  color: var(--color-text-grey-1);
}

.blog__right-title {
  color: var(--color-primary);
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.blog__right-article {
  font-size: 1rem;
  color: var(--color-text-grey-1);
  line-height: 2rem;
}

.secondary {
  background-color: var(--color-secondary);
  color: var(--color-text-white);
}

.secondary p {
  color: var(--color-text-white);
}

.sponsors {
  width: 100%;
  margin: 0 auto;
}

/* FOOTER */

.footer {
  display: flex;
  width: 90%;
  margin: 4rem auto;
  justify-content: space-between;
  align-items: center;
}

.footer__card1 {
  flex: 0 0 30%;
}

.footer__card2 {
  flex: 0 0 20%;
}

.footer__card3 {
  flex: 0 0 10%;
}

.footer__card4 {
  flex: 0 0 40%;
}

.footer__card1 h1 {
  color: var(--color-primary);
  font-size: 3rem;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.footer__card1 p {
  color: var(--color-text-grey-1);
  font-size: 1rem;
  line-height: 1.5rem;
  padding-right: 1rem;
  font-weight: 600;
}

.footer__card2 h3 {
  color: var(--color-text-grey-2);
}

.footer__card2 p,
.footer__card2 h3,
.footer__card1 p,
.footer__card3 h3,
.footer__card3 p,
.footer__card4 h3,
.footer__card3 p {
  margin-bottom: 1rem;
  color: var(--color-text-grey-1);
}

.footer__card2 h3,
.footer__card3 h3,
.footer__card4 h3 {
  color: var(--color-text-grey-2);
  font-weight: 800;
  font-size: 1.3rem;
}

.footer__card4 input {
  border: none;
  background-color: #f9f9f9;
  display: inline-block;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 4px;
  color: var(--color-text-grey-1);
}

.fa-paper-plane {
  background-color: var(--color-secondary);
  padding: 1rem;
  font-size: 1.5rem;
}

input:focus {
  outline: none;
}

.footer__card4 ::placeholder {
  color: #64636d5e;
}

.last {
  background-color: #f9f9f9;
}

.copy {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-text-grey-1);
}

.copy {
  display: flex;
  justify-content: space-between;
}

.icon {
  padding: 0 1rem;
  color: var(--color-primary);
}

.icon:hover {
  color: var(--color-secondary);
}

* ANIMATED MENU */
.hamburger-menu-wrapper {
  margin: 1.5rem;
  background: #051be5;
  padding: 10px;
  display: inline-block;
}

.hamburger-menu-wrapper.bounce-effect {
  animation: bounce 0.3s ease 1;
}

.hamburger-menu {
  border: 0;
  margin: 0 auto;
  display: block;
  position: relative;
  overflow: hidden;
  padding: 0;
  width: 36px;
  height: 36px;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;
  z-index: 9999;
  cursor: pointer;
  background: transparent;
}

.hamburger-menu:focus {
  outline: none;
}

.hamburger-menu span {
  display: block;
  position: absolute;
  top: 17px;
  left: 5px;
  right: 5px;
  height: 2px;
  background: #fff;
}

.hamburger-menu span:before,
.hamburger-menu span:after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
}

.hamburger-menu span:before {
  top: -7px;
}

.hamburger-menu span:after {
  bottom: -7px;
}

.hamburger-menu span:before,
.hamburger-menu span:after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.hamburger-menu span:before {
  transition-property: top, transform;
}

.hamburger-menu span::after {
  transition-property: bottom, transform;
}

.hamburger-menu.active span {
  background: none;
}

.hamburger-menu.active span:before {
  top: 0;
  transform: rotate(225deg);
}

.hamburger-menu.active span:after {
  bottom: 0;
  transform: rotate(135deg);
}

.hamburger-menu.active span:before,
.hamburger-menu.active span:after {
  transition-delay: 0s, 0.3s;
}

@keyframes bounce {
  0% {
    transform: rotate(0);
  }

  45% {
    transform: rotate(15deg);
  }

  90% {
    transform: rotate(-7deg);
  }

  100% {
    transform: rotate(0);
  }
}

/* hamburger dropdown menu */
.menu {
  position: relative;
  width: 100vw;
  text-align: right;
}

.menu-list {
  display: none;
  position: absolute;
  top: calc(100% + 40px);
  width: 100%;
  text-align: center;
  z-index: 9999;
}

.menu-list a {
  color: #C6D2D6;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  margin: 15px 0;
  padding-right: 70px;
  transition: all 0.5s ease;
  text-align: center;
}

.menu-list a:hover {
  color: #ff6000;

}

/* overlay */
.menu-overlay {
  transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(66, 66, 66, 0.9);
  z-index: 1111;
}